# NOTE: `$DEVELOPMENT_*` values are used as default values if not otherwise
# specified in `.env.local`.
# When deploying to production these values are overwritten by ENV variables
# passed on the command line when building Docker images.

export DEVELOPMENT_DATABASE_URL=postgresql://postgres:password@localhost:5432/tiktok_live_development
export DATABASE_URL=$DEVELOPMENT_DATABASE_URL

export DEVELOPMENT_NEXTAUTH_URL=http://localhost:3000
export NEXTAUTH_URL=$DEVELOPMENT_NEXTAUTH_URL

# Secret ENV vars:
source_env_if_exists .envrc.local

# These should be defined by `.envrc.local` in order for everything in the
# monorepo to work as expected:
env_vars_required NEXTAUTH_SECRET
env_vars_required DISCORD_CLIENT_ID
env_vars_required DISCORD_CLIENT_SECRET
